<h1>About</h1>

<p>Wiki was developed with inspiration from Wikipedia. Wiki is a simple app that allows users the ability
to Sign-In and create an article, edit and delete articles, and put articles in catagories.
</p>